body{
    margin: 0;
    background: black;
}

/*PROFILES*/

#profile-page{
    font-family: helvetica;
    font-size: 48px;
    text-align: center;
    color: white;
    margin-top: 25vh;
}

#profile-container{
    height: 250px; 
}

#user-select{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap:wrap;
}

.profile{
    display: table-cell;
    border-collapse: separate;
    border-spacing: 10px;  
}

.user-icon{
    height: 17vh;

    width: 17vh;
    border-radius: 7%;
    
    display: table-cell;
    background: white;
}

#one{
    margin:0 15 0 0;
    background: skyblue;
}

#two{
    background: gold;
}

#three{
    background: tomato;
}

#four{
    background: chocolate;
}

#add-profile{
    margin: 0 0 0 15;
    border-radius: 50%;
    background: lightgray;
    transform: scale(0.6, 0.6);
    z-index: 1;
    position: relative
}


.username{
    color: white;
    display: flex;
    justify-content: center;

    font-family: helvetica;
    font-size: 18px;
    color: white;
}

.user-icon:hover{
    border: 4px solid white;
    box-sizing: border-box;

    cursor: pointer;
}

a:link{
    text-decoration: none;
}

#manage-profiles{
    position: relative;
    top: 75;

    width: 15vw;
    height: 3vw;
    min-height: 40px;
    min-width: 80px;
    text-align: center;

    line-height: 40px;

    font-family: helvetica;
    font-size: 1.2vw;
    color: gray;
    border: 2px solid gray;

    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
}

#manage-profiles:hover{
    color:white;
    border: 2px solid white;
}

/* Mobile */
@media (max-width:768px){
    #user-select{
        flex-wrap: wrap;
        flex-basis: 50%;
    }

    #profile-page{
        font-size: 30px;
        margin-top: 15vh;
    }

    .username{
        font-size: 14px;
    }

    .user-icon{
        height: 13vh;
        width: 13vh;
    }

    #manage-profiles{
        top: 45;

        width: 40vw;
        height: 3vw;
        min-height: 40px;
        min-width: 80px;

        font-size: 12px;
        
        border: 1px solid gray;
    }



}



