body{
    margin: 0;
    background: black;
    padding-bottom: 40px;
}

#logo{
    height: 100%;
    width: 128px;
    margin: 0 25 0 0;
    display: inline-block;
    font-family: helvetica;
    text-align: center;
    font-size: 30px;
    color: tomato;
    cursor: pointer;
    }
    
h2{
    font-family: helvetica;
    font-size: 14px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
    
#header{
    height:70px;
    width: 100vw;
    background: black;
    padding: 15px 40px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    overflow: hidden;
}

#left-header{
    display: flex;
    justify-content: space-evenly;
}

#right-header{
    display: flex;
    flex-direction: row-reverse;
}


.right-tabs{
    font-family: helvetica;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

#search{
    width: 40px;
    height: 100%;
    background: white;
    border-radius: 50%;
    min-width:40px;
    margin-right: 5%;
    align-items: flex-end;
    position: relative;
    
    transform: scale(0.6, 0.6);
    cursor: pointer;
}
     
#bell{
    width: 40px;
    height: 100%;
    background: white;
    border-radius: 50%;
    min-width:40px;
    align-items: flex-end;
    position: relative;
    
    transform: scale(0.6, 0.6);
    cursor: pointer;
}
    
#present{
    width: 40px;
    height: 100%;
    background: white;
    border-radius: 50%;
    min-width:40px;
    align-items: flex-end;
    position: relative;
    
    transform: scale(0.6, 0.6);
    cursor: pointer;
}
      
#account{
    width: 40px;
    height: 100%;
    background: tomato;
    margin-left: 10%;
    border-radius: 7%;
    min-width:40px;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

#main-video{
    width:100%;
    height:550px;
    background: linear-gradient(94deg, #ffc6d8,#b29bd0, #3c74b5);
    background-size: 150% 10%;
    animation: gradient 9s ease infinite;
}

@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#play-button{
    position: absolute;
    width: 8vw;
    height: 3vw;
    min-height: 40px;
    min-width: 80px;
    text-align: center;
    top: 480px;
    left: 40px;
    line-height: 40px;
    border-radius: 10px;

    font-family: helvetica;
    font-size: 20px;
    background: white;

    cursor: pointer;
}

#more-info-button{
    position: absolute;
    width: 15vw;
    height: 3vw;
    min-height: 40px;
    min-width: 126px;
    text-align: center;
    top: 480px;
    left: 180px;
    line-height: 40px;
    border-radius: 10px;

    font-family: helvetica;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


#video-strip{
    width: 100%;
    height: 200px;
    padding: 5px 40 20 40;
    box-sizing: border-box;
    background: black;
}

.video-category ul{
    list-style: none;
    margin: 0;
    display: flex;
    overflow-x: scroll;
    padding: 0;
}

.row-heading{
    font-family: helvetica;
    font-size: 20px;
    color: white;
}

.video-category li{
    height: 120px;
    width: 210px;
    min-width: 200px;
    background: gray;
    margin-right: 10px;
} 

/* Mobile */
@media (max-width:768px){
    .left-tabs:nth-child(5){
        display: none;
    }
    .left-tabs:nth-child(2){
        display:none;
    }               
    #present{
        display: none;
    }
    #bell{
        display:none;
    }
    .right-tabs{
        display:none;
    }
    #main-video{
        height:760px;          
    }   

    #play-button{
        width: 200px;
        height: 70px;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -100px;
        line-height: 70px;
        font-size: 30px;
        
    }

    
    #more-info-button{
        position: absolute;
        top: 30%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      
    }

    #logo{
    
        font-size: 25px;
        
        }

        #header{
     
            padding: 15px 15px;
         
        }
        
        h2{
    
            font-size:2.5vw;
  
            margin-right: 8px;
            
        }
}

