body{
    margin: 0;
    background: black;
}

/*PROFILES*/

#profile-page{
    font-family: helvetica;
    font-size: 48px;
    text-align: center;
    color: white;
    margin-top: 25vh;
}

#profile-container{
    height: 250px; 
}

#user-select{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.profile{
    display: table-cell;
    border-collapse: separate;
    border-spacing: 10px; 

    
}

.user-icon{
    height: 17vh;
    width: 17vh;
    border-radius: 7%;
    
    display: table-cell;
    background: white;
}

#one{
    margin:0 15 0 0;
    background: skyblue;
}

#two{
    background: gold;
}

#three{
    background: tomato;
}

#four{
    background: chocolate;
}

#add-profile{
    margin: 0 0 0 15;
    border-radius: 50%;
    background: lightgray;
    transform: scale(0.6, 0.6);
    z-index: 1;
    position: relative
}


.username{
    color: white;
    display: flex;
    justify-content: center;

    font-family: helvetica;
    font-size: 18px;
    color: white;
}

.user-icon:hover{
    border: 4px solid white;
    box-sizing: border-box;

    cursor: pointer;
}

a:link{
    text-decoration: none;
}




