@font-face{
    font-family: "Happy Times";
    src: url('../fonts/happy-times-NG_italic_master_web.woff') format('woff'),
        url('../fonts/happy-times-NG_italic_master_web.woff2') format('woff2');
    font-style: italic;
}

@font-face{
    font-family: "Happy Times";
    src: url('../fonts/happy-times-NG_regular_master_web.woff') format('woff'),
        url('../fonts/happy-times-NG_regular_master_web.woff2') format('woff2');
    font-style: normal;
}