* {
    box-sizing: border-box;
  }


  
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
  }
  
  /* All the snapping stuff */
.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
section {
    height: 100vh;
    scroll-snap-align: center;
  }
  
/* PAGE 1 */
section {
    padding: 1rem;
    
    display: block;
    position: relative;

    background-color: white;
  }
  
h1{
    font-family: helvetica;
    font-size: 10vw;
    margin: -10 0 0 10;
}

#home-footer{
    position: absolute;
    bottom:0;

    margin: 0 0 20 10;
}

.home-links{
    font-family: helvetica;
    font-weight: 400;
    font-size: 3vw;
   

    line-height: 5vh;;
    margin: 0 0 20 10;
}



/* PAGE 2 */
section:nth-child(2n) {
    background-color: white;
    flex-direction: row;
  }
  
h2{
    font-family: helvetica;
    font-weight: 400;
    font-size: 7vw;
    margin: 14vH 0 5 10;
}

#mobile-text{
  display: none;
}
/* PAGE 3 */
section:nth-child(3n) {
    background-color: white;
    
  }

h4{
    font-family: helvetica;
    font-weight: 400;
    font-size: 9vh;
    margin: 0 0 20 10;
    line-height: 11vh;
    text-decoration: none;
    font-style: normal;
}

#interview-link{
    margin: 3.5vh 0 15 10;
    font-style: normal;
}

img{
    width: 49vw;
    position: absolute;
    top: 20vh;
    right: 6vw;
    opacity: 0;
}

#interview-image{
  border: 1px solid black;
}

#toy-link{
    font-style: normal;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    text-decoration: none;
    color: black;
  }
  
a:hover {
    text-decoration: none;
    color: black;
  }
  
a:active {
    text-decoration: none;
    color: black;
  } 

/* project page*/

.main-click{
    width: 30vw;
    height: 100vh;
    z-index: 5;
    position: fixed;
    cursor:w-resize;
}

#project-page{
    height: 100vh;
    width: 100vw;
}

#short-desc{
    font-family: helvetica;
    font-weight: 400;
    font-size: 3vw;
    position: absolute;
    line-height: 140%;
    margin: -15 0 20 20;
}

.desc-link{
    bottom: 0;
    position: absolute;
    margin: 0 0 20 10;
    z-index: 10;


    font-family: helvetica;
    font-weight: 400;
    font-size: 3vw;
}

.project-link{
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 0 36 20 0;


    font-family: helvetica;
    font-weight: 400;
    font-size: 3vw;
}

video{
    display: block;
    margin: 0 auto; 
    margin-top: 10vh;
    width: 40vw;
}

#interview-video{
  border: 1px solid black;
}

#nametag-video{
  border: 1px solid black;
}

/*description popup*/
#description{
    font-family: helvetica;
    font-weight: 400;
    font-size: 4vw;
    position: absolute;
    line-height: 140%;
    margin: 0 20 20 20;
    padding-right: 20;
    
    
}

.click{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    cursor: crosshair;
}


@media (max-width: 768px) {

/*page1*/
  h1{
    font-size: 15vw;

}
  .home-links{
      font-weight: 400;
      line-height: 1vh;
      font-size: 3.5vw;
     
}
#home-footer{
  bottom: 15vh;
  padding: 0 0 30 0;
}

/*page2*/
  h2{
  font-size: 10vw;
}
  #desktop-text{
  display: none;
}
  #mobile-text{
  display:block;
  font-size: 10vw;
  
}
/*page3*/

  h4{
    font-size: 8vw;
    line-height: 8vh;
  }

  #interview-link{
    margin: 10vh 0 15 10;
}
/*project page*/
.main-click{
  display: none;
}

#short-desc{
  font-size: 20px;
}
#title{
  font-size: 10vw;
  line-height: 5vh;

}
video{
  width: 90vw;
  margin: 30vw 0;

}

.desc-link{
  bottom: 60;
  font-size: 5vw;
  padding: 0 0 70 0;
}

.project-link{
  bottom: 60;
  font-size: 5vw;
  padding: 0 0 70 0;
}
#description{
  
  font-size: 7vw;

  margin: 50 20 20 20;
}



}